:root {
  --color-background: #0a0a0a;
  --color-button: #ff770b;
  --color-gray-button: #1c1c1c;
  --color-gray: #6c6c6c;
  --height-header: 64px;
  --color-gray-font: #808080;
  --color-white-font: #ffffff;
  --color-filter-gray: #3333338d;
  --color-footer: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255);
}

body {
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

/* header */
header {
  margin-top: 20px;
}

.menu {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 10px 50px 10px 50px;
}

.hamburger-header {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

.hamburger-header {
  display: none;
}

.hamburger-header .login-button {
  color: rgba(255, 255, 255);
  background-color: var(--color-gray);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 45px;
  width: 100px;
  border-radius: 15px;
}

.hamburger-header .login-button .login-image {
  background-color: transparent;
}

.off-screen-menu {
  background-color: rgba(117, 117, 117, 0.7);
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  transition: 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

.nav-container-burger {
  list-style: none;
}

.nav-container-burger li a {
  text-decoration: none;
}

.off-screen-menu.active {
  position: absolute;
  left: 10px;
  top: 64px;
}

.hamburger-header .nav {
  padding: 5px;
  display: flex;
}

.ham-menu {
  width: 100%;
  height: 40px;
  margin-left: auto;
  position: relative;
}

.hamburger-header nav {
  padding: 3px;
  display: flex;
}

.ham-menu {
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.dropdown-menu-burger ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 10px;
  gap: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-menu-burger {
  display: none;
}

.nav-list-burger:hover .dropdown-menu-burger {
  display: block;
}

.nav-list-burger {
  margin: 10px;
}

#search-mobile {
  height: 25px;
  width: 25px;
}

#search-mobile img {
  height: 100%;
  width: 100%;
}

#logo {
  text-decoration: none;
  font-size: 30px;
  color: orange;
}

.nav-container {
  list-style: none;
  display: flex;
}

.nav-list {
  padding: 10px 30px;
  cursor: pointer;
}

.nav-list a {
  color: var(--color-gray-font);
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s;
}

.nav-list a:hover {
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-size: 20;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--color-gray);
  z-index: 3;
  columns: 2;
  border-radius: 10px;
}

.dropdown-menu a {
  color: rgba(255, 255, 255, 0.5);
  padding: 12px 16px;
}

.nav-list:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--color-gray);
  margin-top: 5px;
  border-radius: 10px;
  z-index: 2;
}

.dropdown-menu ul {
  list-style: none;
  display: block;
  margin: 10px;
}

.dropdown-menu ul li a:hover {
  color: rgba(255, 255, 255);
}

.dropdown-menu ul li {
  background-color: var(--color-gray);
}

.dropdown-menu ul li a {
  display: block;
  width: 125px;
  font-size: 17px;
}

.search-container {
  display: flex;
  width: 315px;
  height: 33px;
  padding: 5px 10px;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: 20px;
}

.search-input {
  outline: none;
  border: none;
  font-weight: 500;
  background-color: transparent;
}

.search-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.login-button {
  color: rgba(255, 255, 255);
  background-color: var(--color-gray);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 46px;
  width: 137px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.login-image {
  background-color: transparent;
}

/* Advertisement */
#advertise {
  width: 80%;
  padding-top: 100px;
  padding-bottom: 40px;
  align-items: center;
  margin: 0 auto;
}

#advertise img {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
}

/* small sized movies poster */
.header-of-movies {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-of-movies h2 {
  margin-right: auto;
}

.header-of-movies .links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-of-movies .links a {
  margin-right: 10px;
}

.movies-container-12 {
  width: 70%;
  align-items: center;
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.movies-poster-12 {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.movie-small-sized {
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

.movie-small-sized .poster img {
  width: 100%;
  transition: 0.5s;
}

.movie-small-sized .poster {
  position: relative;
  overflow: hidden;
}

.movie-small-sized .poster::before {
  content: "";
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #0e0d0d, 80%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.movie-small-sized:hover .poster::before {
  bottom: 0px;
}

.movie-small-sized:hover .poster {
  transition: 0.5s;
  transform: translateY(-50px);
  filter: blur(5px);
}

.movie-small-sized .details {
  position: absolute;
  align-items: center;
  bottom: -40px;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
  background: transparent;
}

.movie-small-sized .rank {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 10px;
}

.movie-small-sized:hover .details {
  bottom: 40px;
}

.movie-small-sized .details img {
  height: 15px;
  width: 15px;
}

.movie-small-sized .details h3 {
  font-size: 19px;
  background: transparent;
}

.movie-small-sized .details p {
  font-size: 14px;
  background: transparent;
}

.movie-small-sized .details .info {
  font-size: 12px;
  margin-top: 10px;
  background: transparent;
}

/* Footer */

/* footer {
  background-color: rgba(57, 57, 57, 0.38);
  width: 100%;
  height: 290px;
  margin-top: 200px;
  padding: 30px 0 0 30px;
  border-radius: 10px 10px 0 0;
} */

/* footer .footer-links a {
  text-decoration: none;
  color: white;
}

footer .footer-icons,
footer .footer-links {
  justify-content: center;
  display: flex;
}

footer .footer-icons li,
footer .footer-links li {
  display: inline-block;
  margin: 30px;
}

footer .footer-icons i,
footer .footer-links a {
  font-size: 30px;
  color: white;
}

.copy-right {
  color: white;
  margin-top: 30px;
} */

/* --------------------- */

@media (max-width: 1730px) {
  .movies-container-12 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .movie-small-sized {
    width: 200px;
    height: 270px;
  }
}

@media (max-width: 1358px) {
  .movies-container-12 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .movie-small-sized {
    width: 170px;
    height: 250px;
  }
  .movie-big-sized-poster {
    width: 100%;
    height: 100%;
  }
  .movie-big-sized .slider-item-details {
    display: none;
  }
  .slider-nav {
    display: none;
  }
}

@media (max-width: 891px) {
  .menu {
    display: none;
  }
  .hamburger-header {
    display: flex;
  }
  .movies-container-12 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .movie-small-sized {
    width: 150px;
    height: 220px;
  }
}

@media (max-width: 448px) {
  .menu {
    display: none;
  }
  .hamburger-header {
    display: flex;
  }
  .movies-container-12 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .movies-poster-12 {
    margin: 0 auto;
    width: 90%;
  }

  .header-of-movies h2 {
    font-size: 15px;
  }

  .movie-small-sized {
    width: 130px;
    height: 220px;
  }

  .movie-small-sized .info {
    display: none;
  }

  .movie-small-sized .details {
    bottom: -20px;
  }
  .movie-small-sized .details .year-and-duration {
    font-size: 12px;
  }
  .movie-small-sized .details .movie-icon {
    width: 10px;
    height: 10px;
  }
}
