/* Filter */
.filter {
  width: 80%;
  margin: 0 auto;
}

.filter ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 20px 70px 5px;
  font-size: 18px;
  align-items: center;
}

.filter > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  border-bottom: 1px solid white;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.filter .title {
  font-size: 20px;
}
.search-middle {
  display: flex;
  width: 300px;
  height: 33px;
  padding: 5px 10px;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: 20px;
}

.filter-dropdown option {
  background-color: rgba(108, 108, 108);
  font-size: 20px;
}

.filter-dropdown select {
  background-color: transparent;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.filter ul button {
  color: var(--color-button);
}

.filter li > button.filter-button {
  background-color: var(--color-button);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 105px;
  height: 35px;
}

.filter li > button.filter-button:hover {
  background-color: white;
  color: #595959;
}

.filter #name {
  background-color: transparent;
  border: none;
}

/* Pagination */
.pagination {
  padding-top: 20px;
  text-align: center;
}

.pagination a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.pagination a.active {
  background-color: grey;
  font-weight: bold;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #555;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .filter ul {
    gap: 5px;
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: auto;
    grid-template-areas:
      ".search-middle .filter-dropdown-1"
      ".filter-dropdown-2 .filter-dropdown-3"
      "filter-dropdown-4 .filter-dropdown-5"
      ".filter-button.filter-button ";
    justify-items: stretch;
  }
  .search-middle {
    display: flex;
    width: 160px;
    height: 33px;
    padding: 5px 10px;
    align-items: center;
    background-color: var(--color-gray);
    border-radius: 5px;
  }
}
